<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="">
      <form action="/updateData/<%= userData.id %>" method="post" enctype="multipart/form-data">
        <tr>
          <td>Name:</td>
          <td>
            <input
              type="text"
              name="userName"
              value="<%= userData.userName %>"
            />
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input type="email" name="email" value="<%= userData.email %>" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="gender" value="male"   <%= userData.gender==="male"?"checked":"" %> />Male
            <input type="radio" name="gender" value="female" <%= userData.gender==="female"?"checked":"" %>  />Female
          </td>
        </tr>
        <tr>
          <td>Hobbies</td>
          <td>
            <input name="hobbies" type="checkbox" value="coding" <%= userData.hobbies.includes("coding")?"checked":"" %>/>coding
            <input name="hobbies" type="checkbox" value="cycling" <%= userData.hobbies.includes("cycling")?"checked":"" %> />cycling
            <input name="hobbies" type="checkbox" value="reading" <%= userData.hobbies.includes("reading")?"checked":"" %> />reading
          </td>
        </tr>
        <tr>
          <td>File upload:</td>
          <td><input type="file" name="image" /> <img src="<%= userData.image %>" height="100px" alt=""></td>

        </tr>
        <tr>
          <td></td>
          <td><Button>Submit</Button></td>
        </tr>
      </form>
    </table>
  </body>
</html>
