<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="">
      <form action="/addData" method="post" enctype="multipart/form-data">
        <tr>
          <td>Name:</td>
          <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="email" name="email" /></td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>
            <input type="radio" name="gender" value="male" />Male
            <input type="radio" name="gender" value="female" />Female
          </td>
        </tr>
        <tr>
          <td>Hobbies</td>
          <td>
            <input name="hobbies" type="checkbox" value="coding"  />coding
            <input name="hobbies" type="checkbox" value="cycling"  />cycling
            <input name="hobbies" type="checkbox" value="reading" />reading
          </td>
        </tr>
        <tr>
          <td>File upload:</td>
          <td><input type="file" name="image" /></td>
        </tr>
        <tr>
          <td></td>
          <td><Button>Submit</Button></td>
        </tr>
      </form>
    </table>

    <br />
    <br />
    <br />
    <table border="">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>hobbies</th>
          <th>image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% userData.map((user)=>{ %>
        <tr>
          <td><%= user.userName %></td>
          <td><%= user.email %></td>
          <td><%= user.gender %></td>
          <td><%= user.hobbies %></td>
          <td><img src="<%= user.image %>" height="150px" alt="" /></td>
          <td>
            <a href="/deleteData/<%= user.id %>"><button>Delete</button></a>
            <a href="/editData/<%= user.id %>"><button>Edit</button></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
